


body
{
    /*background-color: #cd2626;*/
}



#temp
{
    font-family: -apple-system-font;
    color: white;
    font-size: 100px !important;
    font-weight: 100 !important;
    text-align: center;
    font: ;
}

#timetemptarget {
    text-align: center;
}

#time, #target
{
    font-size: 75%;
    /*di{
splay: inline-block;*/
}

#time_target {
    /*position:relative;*/
    /*bottom:0;*/
    /*margin: 0 5px 5px 5px;*/
}



#time
{
    /*display: block;*/
    /*float:left;*/
    /*width: 95%;*/
    padding: 20px;
    
}

#target
{
    /*display: block;*/
    /*float:right;*/
    /*width:95%;*/
    padding: 20px;
}


section {
    /*background: rgba(0,0,0, 0.0);*/
    margin: 10px 10px;
}

li, ul
{
    background-color: transparent !important;
    border: transparent !important;
}

nav
{
    visibility: hidden; 
}


