


body
{
    /*background-color: #cd2626;*/
}



#temp
{
    font-family: -apple-system-font;
    color: white;
    font-size: 100px !important;
    font-weight: 100 !important;
    text-align: center;
}

#timetemptarget {
    text-align: center;
}

#time, #target
{
    /*font-size: 75%;*/
    /*di{
splay: inline-block;*/
}

#time_target {
    /*position:relative;*/
    /*bottom:0;*/
    /*margin: 0 5px 5px 5px;*/
}



#time
{
    /*display: block;*/
    /*float:left;*/
    /*width: 95%;*/
    padding: 20px;
    
}

#target
{
    /*display: block;*/
    /*float:right;*/
    /*width:95%;*/
    /*padding: 20px;*/
    text-align: center;
    margin-top: -100px;
    color:white;

}


section {
    /*background: rgba(0,0,0, 0.0);*/
    /*margin: 10px 10px;*/
}

li, ul
{
    /*background-color: transparent !important;*/
    background-color: rgba(0, 0, 0, 0.08) !important ;
    border-width:0px !important;
}

nav
{
    /*visibility: hidden; */
}

img
{
    /*background-color:white;*/
    border-radius: 15px;

}

#graph {
    display:inline;
}

#canvasContainer {
    width: 100%;
    text-align:center;
}

