


body
{
    /*background-color: #cd2626;*/
}



#temp
{
    color: blue;
    font-size: 500% !important;
    font-weight: lighter !important;
    text-align: center;
}

#timetemptarget
    text-align: center;
}

#time, #target
{
    font-size: 75%;
    /*di{
splay: inline-block;*/
}

#time_target {
    /*position:relative;*/
    /*bottom:0;*/
    /*margin: 0 5px 5px 5px;*/
}



#time
{
    /*display: block;*/
    /*float:left;*/
    /*width: 95%;*/
    padding: 20px;
    
}

#target
{
    /*display: block;*/
    /*float:right;*/
    /*width:95%;*/
    padding: 20px;
}


section {
    opacity: 0.5 !important;
    margin: 10px 10px;
}

