<!doctype html>
<html>
<head>
    <title>Sous Vide Controller</title>
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon"
      sizes="114x114"
      href="/static/icons/apple-touch-icon-114x114.png?v={{ rand_num }}">
    <link rel="apple-touch-startup-image"
          media="(device-width: 320px)
            and (-webkit-device-pixel-ratio: 2)"
          href="/static/icons/apple-touch-startup-image-640x1096.png?v={{ rand_num }}">


    <!-- // <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script> -->
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='chui.ios-3.0.4.css')}}">
    <link rel=stylesheet type=text/css href="{{url_for('static', filename='app.css')}}?v={{ rand_num }}">
    <script src="/static/chocolatechip-3.0.4.js"></script>
    <script src="/static/chui-3.0.4.js"></script>
    <script src="/static/Chart.js"></script>
    <link rel=stylesheet href="/static/bub.css?v={{ rand_num }}">

</head>
<body>
<div class='bubbles'></div>
<nav>
    <!-- <h1>Clever Title</h1> -->
</nav>

<article id='main'>
    <section>
        <ul class='list'>
            <li class='comp'>
                <aside>
                </aside>
                <div>
                    <h1 id='temp'>130&deg</h1>
                    <h3 id='target'>135&deg</h3>


                </div>
                <aside>
                    <!-- <span>test</span> -->
                </aside>

            </li>

                <!-- <img src="/static/icons/steak.png"> -->
                <!-- <img src="/static/icons/chicken.png"> -->

            <div id='canvasContainer'>
            <!-- <canvas id='chart' width='300' height='200'></canvas> -->
            </div>


        </ul>
    </section>
</article>
<select id='selecttemp'>
</select>


<script src="/static/jquery.min.js"></script>
<script src="/static/bub.js?v={{ rand_num }}"></script>
<script>




    $('#selecttemp').hide();

    //Prevent IOS from Scrolling around and annoying the user
    document.ontouchstart = function(e){ 
    e.preventDefault(); 
}

    //Create select form options
    var minTemp = 110;
    var maxTemp = 181;
    for(var i=minTemp; i < maxTemp; i++){
        $('#selecttemp').append("<option>" + i.toString() + "</option>");
    }

    
    //
    //Guesture functions
    //
    
    //Swipe right to incrememt temp
    $('#main').on('swipeup', function(){
        var numr = parseInt($('#target').html().slice(0,-1)) + 1;
        $('#target').html(numr.toString() + '&deg');
        get_target_temp_line(data.datasets[0].data); //Update chart data
        c.Line(data, options); //update chart
    });

    //Swipe left to decrement temp
    $('#main').on('swipedown', function(){
        var numl = parseInt($('#target').html().slice(0,-1)) - 1;
        $('#target').html(numl.toString() + '&deg');
        get_target_temp_line(data.datasets[0].data);
        c.Line(data, options);
    });

    //Key arrow down and up
    document.onkeydown = checkKey;

    function checkKey(event){
        event = event || window.event;

        if (event.keyCode == '38')  {//up arrow
            var numr = parseInt($('#target').html().slice(0,-1)) + 1;
            $('#target').html(numr.toString() + '&deg');
            get_target_temp_line(data.datasets[0].data); //Update chart data
            c.Line(data, options); //update chart
        }
        if (event.keyCode == '40')  {
            var numl = parseInt($('#target').html().slice(0,-1)) - 1;
            $('#target').html(numl.toString() + '&deg');
            get_target_temp_line(data.datasets[0].data);
            c.Line(data, options);
        }
    }
 
    
    //
    //Singletap to bring up a  select form box to selct temp
    $('#temp').on('singletap', function(){
        $('#selecttemp').show();
        $('#selecttemp').focus();
        $('#selecttemp').hide();
    });
    //Part of select box to change temp
    $('#selecttemp').change(function(){
        $('#target').html($('select option:selected').html() + '&deg');
        get_target_temp_line(data.datasets[0].data);
        c.Line(data, options);
    });











    
    var ctx = $('#chart').get(0).getContext('2d');

    var data = {
        labels : ["5:00", "5:10", "5:20", "5:30", "5:40", "5:50", "6:00"],
        datasets : [
            {
                fillColor : "rgba(220,220,220,0.0)",
                strokeColor : "rgba(220,220,220,1)",
                data : [76, 95, 108, 118, 127, 134, 131]
            },
            {
                fillColor: "rgba(220,220,220,0.0)",
                strokeColor: 'blue',
                pointColor: "rgba(220,220,220,0.0)",
                pointStrokeColor : "rgba(220,220,220,0.0)",
                data : [0]
            }

        ]
    }

    function get_target_temp_line(times){
        var target_temp = parseInt($('#target').html().slice(0,-1));
        data.datasets[1].data = [];
        $.each(times, function(index, element){
            data.datasets[1].data.push(target_temp);
        });
    }

   





    var options = {
        scaleShowGridLines : false,
        scaleFontFamily : "-apple-system-font",
        scaleFontColor: "white",
        scaleLineColor : "rgba(255,255,255,1)",
        animation: "linear"
  
    }
    var c = new Chart(ctx);

    get_target_temp_line(data.datasets[0].data);
    c.Line(data, options);
    c.Line(data, options);



</script>










    <script>
        function ajax_electric(){

            var state = 0;
            var OK = '';
            $('#test').click(function(){
                var a = $.ajax({
                    type: "post",
                    url: "https://agent.electricimp.com/38G_5vTOSCQK",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                        "async": true,
                        "Access-Control-Allow-Origin" : "*",
                        "Accept": "text/plain"
                    },
                    data: {"led": state},
                    crossDomain: true,
                    dataType: 'jsonp',
                    success: function(data){
                        console.log(data);
                        console.log("Success Test");
                    },
                    error: function(data){
                        console.log("Error:");
                        console.log(data);
                    }
                });
                console.log(state);
                state = 1-state;
            });
         }


        










    </script>

</body>

</html>